<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết Đơn hàng</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="mt-4">Chi tiết Đơn hàng</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên Sản phẩm</th>
      <th>Số lượng</th>
      <th>Giá</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${orderDetails}">
      <td th:text="${detail.id}"></td>
      <td th:text="${detail.productName}"></td>
      <td th:text="${detail.quantity}"></td>
      <td th:text="${detail.price}"></td>
    </tr>
    </tbody>


  </table>
  <a href="/orders" class="btn btn-secondary">Trở lại</a>
</div>
</body>
</html>
